.dd-wrapper {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  width: 400px;
}
.dd-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  line-height: 38px;
  border: 1px solid #dfdfdf;
  border-radius: 3px;
  cursor: default;
  position: relative;
  background-color: #fff;
}
.dd-header svg {
  margin-right: 20px;
}
.dd-header-title {
  font-weight: 300;
  margin: 2px 20px;
  margin-right: 30px;
}
.angle-down {
  color: #000;
  margin-right: 20px;
}
.dd-list {
  z-index: 10;
  position: absolute;
  width: 100%;
  border: 1px solid #dfdfdf;
  border-top: none;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 5px -1px #e8e8e8;
  box-shadow: 0 2px 5px -1px #e8e8e8;
  font-weight: 700;
  padding: 15px 0;
  max-height: 315px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
.dd-list-item {
  font-weight: 300;
  width: 100%;
  padding: 8px 10px;
  line-height: 1rem;
  cursor: default;
  display: flex; /*inline-block;*/
  flex-direction: row;
  align-content: center;
  align-items: center;
  white-space: nowrap;
  text-overflow: ellipsis;

  animation-fill-mode: both;
  animation-duration: 1000ms;
  animation-delay: 0ms;
  animation-iteration-count: 1;
  opacity: 1;
  animation-name: dd-list-reveal;
}
.dd-list-item img {
  height: 30px;
  padding-right: 10px;
}
.dd-list-item svg {
  margin-left: 10px;
}
.dd-list-item.selected {
  color: #fff;
  background-color: #ffcc01;
}
.dd-list-item:hover {
  color: #fff;
  background-color: #ffcc01;
}
.dd-wrapper-single {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  width: 265px;
}
.dd-wrapper-single .dd-header {
  border: 1px solid #ccc;
}
.dd-wrapper-single .dd-header .dd-header-name {
  font-weight: 400;
}
.dd-wrapper-single .dd-list {
  border: 1px solid #ccc;
  border-top: none;
}

@keyframes dd-list-reveal {
  0% { transform: translate3d(0px, -50px, 0px); }
  100% { transform: none;}
}