.dialog {
    overflow-y: hidden;
}

.dialog-enter {
    opacity: 0;
}

.dialog-enter-active {
    opacity: 1;
    transition: all 900ms;
}

.dialog-exit {
    opacity: 1;
}

.dialog-exit-active {
    opacity: 0;
    transition: all 900ms;
}

.text__loader {
    margin-top: 3rem;
    font-size: 28px;
}